html {
	font-family: font-family: 'PT Sans', sans-serif;
	box-sizing: inherit;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

header img {
	width: 100%;
}

nav {
	background-color: #231f20;
	text-align: center;
	margin-top: -4px;
}

nav li {
	display: inline-block;
	padding: 2.5em;
	color: #bababa;
}


nav ol {
	overflow: hidden;
	margin: auto;
	text-align: center;

}

a {
	color: #bababa;
	text-decoration: none;
}

.little_map {
	width: 50%;
	float: left;
}

.open_hours {
	width: 50%;
}

.hours {
	margin-left: 58%;
	margin-top: -27%;
	color: white;
}

.pizza {
	width: 100%;
}

.menu {
	width: 100%;
	margin-top: -4px;
}

.menu1 {
	color: #bababa;
	background-color: #231f20;
	text-align: center;
	padding: 15px;
	margin-top: -4px;
}

.menu1 p {
	margin: 30px;
	}

.menu1 dl {
	margin: 5;
}