html {
	font-family: font-family: 'PT Sans', sans-serif;
	box-sizing: inherit;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

header img {
	width: 100%;
}

nav {
	background-color: #231f20;
	text-align: center;
	margin-top: -4px;
}

nav li {
	display: inline-block;
	padding: 2.5em;
	color: #bababa;
}


nav ol {
	overflow: hidden;
	margin: auto;
	text-align: center;

}

a {
	color: #bababa;
	text-decoration: none;
}

.little_map {
	width: 50%;
	float: left;
}

.open_hours {
	width: 50%;
}

.hours {
	margin-left: 58%;
	margin-top: -27%;
	color: white;
}

.pizza {
	width: 100%;
}

.menu {
	width: 100%;
	margin-top: -4px;
}

.menu1 {
	color: #bababa;
	background-color: #231f20;
	text-align: center;
	padding: 15px;
	margin-top: -4px;
}

.menu1 p {
	margin: 30px;
	}

.menu1 dl {
	margin: 5;
}

.salad {
	width: 50%;
	float: left;
}

.soup {
	width: 50%;
	float: right;
}

.salad-soup {
	margin-top: -16px;
}

.menu2 {
	color: #bababa;
	background-color: #231f20;
	text-align: center;
	padding: 15px;
	margin-top: 36%;
}

.menu2 p {
	margin: 30px;
	}

.menu2 dl {
	margin: 5;
}

.burger {
	width: 100%;
	margin-top: -16px;
}

.menu3 {
	color: #bababa;
	background-color: #231f20;
	text-align: center;
	padding: 15px;
	margin-top: -4px;
}

.menu3 p {
	margin: 30px;
	}

.menu3 dl {
	margin: 5;
}

.salmon {
	width: 100%;
	margin-top: -16px;
}

.beer {
	width: 100%;
	margin-top: -4px;
}

.menu4 {
	color: #bababa;
	background-color: #231f20;
	text-align: center;
	padding: 15px;
	margin-top: -4px;
}

.menu4 p {
	margin: 30px;
	}

.menu4 dd {
	color: red;
	font-style: italic;
}

.menu4 dl {
	margin: 5;
}

.beer_pour {
	width: 100%;
	margin-top: -16px;
}

.light_wood {
	width: 100%;
	margin-top: -4px;
}

.light_beer dd {
	color: blue;
	font-style: italic;
}

.light_beer {
	margin-top: -318px;
	text-align: center;
}

.map {
	width: 100%;
}

.address {
	color: #bababa;
	background-color: #231f20;
	text-align: center;
	padding: 15px;
	margin-top: -4px;
}

.location {
	width: 100%;
	margin-top: -16px;
}

.google {
	width: 100%;
	margin-top: -4px;
}